<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.massadas.godot_eskills">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotEskills"
            android:value="com.massadas.godot_eskills.GodotEskills" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
        </intent>
    </queries>

</manifest>